{% load static %}

<!doctype html>
<html lang="fr" translate="no">
<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ultimate-Technology">
    <meta name="keywords" content="ordinateur, pc, gaming, professionnel, laptop, desktop, informatique, vente, ultimate, technology" >
    {% if test_utl_detail|default:False %}
    <meta property="og:title" content="{{ marque }} {{ model }}">
    <meta property="og:description" content="{{ cpu }} | RAM {{ ram }} | Disque Dur {{ stockage }} | {{ graphic }}">
    <meta property="og:image" content="{{ url_image }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% else %}
    <meta property="og:title" content="{% block og_title %}Ultimate-Technology{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Vente d'ordinateurs et d'équipements de qualité mettant en relation différents vendeurs et client{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'images/ut_logo.png' %}">
    {% endif %}
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="fr_FR">

    <!-- Pour WhatsApp spécifiquement -->
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Balises supplémentaires recommandées -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ultimate-Technology" translate="no">
  <title>{% block title %}Ultimate-Technology — Boutique d'ordinateurs{% endblock %}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <!-- Favicon simple -->
  <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

    <!-- Pour les appareils Apple -->
  <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">
    
  <meta name="google-site-verification" content="W_kWMjpdMyXbhIcZSi8N5tD_UhLVto5z2OVKuK1mT6s" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_details.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style_promotion.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style_a-propos.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style_contact.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style_boite_dialogue.css' %}" >
</head>